:root {
  --clr-primary-400: hsl(292, 16%, 49%);
  --clr-primary-600: hsl(281, 83%, 54%);
  --clr-primary-900: hsl(292, 42%, 14%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(275, 100%, 97%);

  --ff-base: "Work Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 600;
  --fw-bolder: 700;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* general style */

body {
  font-family: var(--ff-base);
  font-size: 1rem;
  background-color: var(--clr-neutral-400);
  color: var(--clr-primary-900);
}

.faqs_section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1em;
}

.faqs {
  background: var(--clr-neutral-100);
  max-width: 37.5rem;
  padding: 1.5em 1em;
  border-radius: 0.5rem;
   
}
.title{
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.title::before {
  content: url("./assets/images/icon-star.svg");
}

.faq {
  border-bottom: 1px solid var(--clr-neutral-400);
  padding: 0.75rem 0.125rem;
}

.accordion {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 0;
  background-color: unset;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  text-align: left;
}

.accordion:hover,.accordion:focus-visible{
  color: var(--clr-primary-600);
}

.accordion[aria-expanded=false]::after{
  content: url("./assets/images/icon-plus.svg"); /* Unicode character for "plus" sign (+) */
}
.accordion[aria-expanded=true]::after{
  content: url("./assets/images/icon-minus.svg"); /* Unicode character for "minus" sign (-) */
}
.accordion[aria-expanded=false] + .panel {
  display: none;
}
.accordion[aria-expanded=true] + .panel {
  display: block;
} 
 

.panel {
  margin-block: 1em;
  display: none;
}

@media (min-width: 38rem) {
  .faqs_section {
    background-image: url("./assets/images/background-pattern-desktop.svg");
  }
  .accordion{
    font-size: 1.125rem;
  }

  
}
 
 
